.html,body{
    height: 100%;
    margin: 0;
    background: darkblue;
    color: rgba(255,255,255,0.9);
    border-left: 50%;
    text-align: center;
}
.stage{
    min-height: 100%;
    display: flex;
    text-align: center;
    padding: 40px;
    margin-left: 25%;
}
.margin{
    background: orange;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}
.border{
    background: darkcyan;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}
.padding{
    background: darkgoldenrod;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    align-items: center;
}
.center{
    background: blueviolet;
    width:  400px;
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 22px;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
    letter-spacing: 6px;
}
.layer{
    margin-bottom: 12px;
    text-align: center;
    letter-spacing: 6px;
}
.caption{
    font-weight: 700;
    font-size: 18px;
    left: 50%;
}